<div class="container">
  <app-header></app-header>
</div>

<div class="container"
     *ngIf="!spendData">
  <app-loader></app-loader>
</div>

<div class="container"
     *ngIf="spendData">

  <app-data-table [spendData]="spendData"
                  [title]="'Spend Data'"></app-data-table>

  <div class="row">
    <div class="col-6">
      <h2>Select a graph</h2>
      <div class="radios-wrapper">
        <app-radio-button [name]="'graphType'"
                          [label]="'Total expendature per Expense Type - bar graph'"
                          (click)="loadExpTypeBarChart()"></app-radio-button>
        <app-radio-button [name]="'graphType'"
                          [label]="'Cumulative expenditure - line graph'"
                          (click)="loadTotalExpLineChart()"></app-radio-button>
      </div>
    </div>
  </div>

  <div class="graph-wrapper">
    <app-bar-chart *ngIf="expTypeBarValues && displayedChart === 'expType'"
                   [barChartLabels]="expTypeBarLabels"
                   [barChartValues]="expTypeBarValues"
                   [label]="expTypeBarLabel"
                   [barColor]="'#FFF'"></app-bar-chart>

    <app-line-chart *ngIf="totalExpLineValues && displayedChart === 'totalExp'"
                    [lineChartLabels]="totalExpLineLabels"
                    [lineChartValues]="totalExpLineValues"
                    [label]="totalExpLineLabel"
                    [barColor]="'#FFF'"></app-line-chart>
  </div>
</div>